################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/WowzaSample/DesignTimeBuild
/.vs/WowzaSample/v15
/WowzaSample/bin
/WowzaSample/obj
/WowzaSample/Properties/PublishProfiles
